#SBT
target
project/target

# All private files
**/*.jks
**/*.keytab

#Metals + Bloop build server
.metals
.bloop
.bsp
.vscode
.ammonite
project/metals.sbt
project/project/.bloop
project/project/metals.sbt
project/project/project/metals.sbt
/out/

# IntelliJ
.idea_modules
*.iml
*.ipr
*.iws
.history
.idea
.idea/*

# Mac
.DS_Store